/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Kanit&subset=thai&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Kanit:wght@200;300;500&subset=thai&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Prompt');

body {
  background-color: #ececec;
}
ul {
  list-style-type: disc;
  margin-left: 20px;
}
ol {
  list-style-type: decimal;
  margin-left: 20px;
}

h1 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #1a202c;
}
h2 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75;
  color: #1a202c;
}

.ql-size-huge {
  font-size: 1.5rem;
}

.ql-size-large {
  font-size: 1.25rem;
}

.ql-size-small {
  font-size: 0.75rem;
}
